hr {


    margin: 0;
}

hr:not([size]) {
    height: 0;
}

.header {
    background: #002f34;
    width: 100%;
    min-width: 610px;
    min-height: 72px;
    text-align: center;

}

.home-link {
    display: flex;
    align-items: center;
}

.home-link img {
    width: 85px;
    height: 65px;
}

.navigation {
    display: flex;
    width: 80%;
    align-items: normal;
    margin: auto;
}

.navigation div {
    float: right;
}

.favorites {
    width: 60px;
    margin-right: 0;

    padding: 0;
    float: right;
    text-align: center;
    cursor: pointer;
}

.favorites img {
    width: 60px;
    height: 50px;

}

#new-ad-link {
    background: #fff;
    color: #002f34;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    cursor: pointer;

    text-align: center;

    padding: 15px;
    align-items: center;


    box-shadow: inset 0 0 0 8px #fff;

    border-radius: 4px;

    transition: all 0.3s ease;
}

#new-ad-link:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.profile {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin-right: 1%;


}

.profile:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;

}

.profile img {
    width: 40px;
    height: 40px;
    margin: 0;


}

.profile span {
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    transition: all 0.3s ease;

}

.right-panel {
    display: contents;
    float: right;
    text-align: center;
}


.right-panel div {
    display: inline-flex;
}

.auth-page {
    padding: 40px 0 48px;
    display: flex;
    background: #3a77ff;
    border-bottom: 1px solid #7f9799;
    min-height: 792px;
    box-sizing: border-box;
    box-shadow: 0 -72px 0 0 #3a77ff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-box {
    width: 400px;

    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #fff;
    font-size: 12px;
    color: #71848d;
    border-radius: 8px;
}

.nav-tab li {
    border-bottom: 1px solid #002f34;
    width: 50%;

    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.29;
}

.nav-tab li a {
    display: block;
    padding: 20px;
    color: #002f34;
    text-align: center;
    text-decoration: none;
    position: relative;

}

.nav-tab li a:before {
    transition: width 0.5s ease-in-out;
}

.nav-tab li a.active::before {
    width: 100%;
    height: 2px;
    background: #002f34;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;

}

.auth-block {
    width: 90%;
    margin: 20px;
    font-size: 14px;
}

.auth-block label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
}

.auth-block input[type=email],
.auth-block input[type=text],
.auth-block input[type=tel],
.auth-block input[type=password] {
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 16px;
    border-radius: 4px;
    font-size: 14px;
    background: #f2f4f5;
}

.auth-block input[type=email]:focus,
.auth-block input[type=text]:focus,
.auth-block input[type=tel]:focus,
.auth-block input[type=password]:focus {

    border-bottom: 2px solid #002f34;
}

.auth-block a {
    color: #002f34;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.24;
}

.auth-block a:hover {
    color: #002f34;
    text-decoration: underline;
}

.Login-Button {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #002f34;
    cursor: pointer;
    box-shadow: 0 0 0 2px #002f34;
    border: none;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
}

#serverAns {
    text-align: center;
}

.err-div {
    color: red;
    margin: 0;
    font-size: 14px;
}

.forgot-password-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.forgot-password-back-arrow {
    position: relative;
    margin-right: 20px;
    color: #002f34;
}

.has-hidden {
    display: none;
    transition: 0.5s;
}

.forgot-password-back-arrow::before,
.forgot-password-back-arrow::after {
    right: -15px;
    position: absolute;
    background: #002f34;
    content: '';
    width: 20px;
    height: 2px;

}

.forgot-password-back-arrow::before {
    bottom: 6px;

    transform: rotate(-45deg);
}


.forgot-password-back-arrow::after {
    top: 6px;
    transform: rotate(45deg);
}

.forgot-password-back:hover {
    text-decoration: none;
}

.forgot-password-back-text {
    color: #7f9799;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.auth-block h2 {
    color: #000;
    text-align: center;
    font-size: 45px;
    width: 100%;
}

.auth-block p {
    padding: 20px 32px 0;
    font-size: 14px;
    line-height: 1.29;
    color: #406367;
    text-align: center;
}

.reset-password h2 {
    font-weight: bold;
}

.reset-password p {
    padding-top: 5px;
    font-size: 16px;
}

.resend-code {
    cursor: pointer;
    float: right;
}

.resend-code:hover {
    text-decoration: none;
}

.wrapper {
    text-align: left;
    width: 90%;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.wrapper h2 {
    font-weight: 900;
    font-size: 32px;
}

.profile-box {
    background: #fff;
    border-radius: 4px;
}

.page-info {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.profile-page {

    min-width: 610px;
    margin: 0;
}

.user-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-selector {
    display: block;

}

.profile-selector li {
    border-bottom: none;
}

.profile-selector a:hover span {
    color: #fff;
    background: #002f34;

}

.profile-selector a.active:hover span {
    color: #002f34;
    background: #fff;
    cursor: text;
}

.profile-selector a.active:hover {
    cursor: auto;
}

.user-data button {
    font-size: 20px;

}

.profile-selector ul {
    flex-wrap: unset;
}

#listContainer {
    background: #f8fafc;
    display: flex;
    justify-content: center;
}

.no-posts {
    text-align: center;
    padding: 30px;

}

.profile-wrapper {
    background: #fff;
}

.no-posts h3 {
    font-size: 20px;
    font-weight: 900;
    color: #002f34;
    line-height: 1.1;
    margin: 20px;
}

.new-posts-profile {
    background: #002f34;
    border: 4px solid #002f34;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 16px;
    margin: 20px;
    transition: 0.5s;
}

.new-posts-profile:hover {
    background: #fff;
    color: #002f34;
    text-decoration: none;
}

.no-posts div {
    margin: 20px;
}

.wrapper h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.06;
    margin-top: 48px;
    margin-bottom: 30px;
}

.field-set-box {
    background: #fff;
    padding: 20px 32px;
    width: 100%;
    border-radius: 4px;
    margin-top: 16px !important;
    border: none;
}

.field-set-box-title {
    font-size: 20px;
    line-height: 1.1;
    margin-top: 12px;
    margin-bottom: 6px;
    color: #002f34;
    position: relative;
}

.field-set-box label {
    font-weight: inherit;
    color: #002f34;
    font-size: 14px;
}

.field-set-box-title-input {
    width: 65%;
    background: #f2f4f5;
    border: none;
    display: block;
    padding: 14px 16px;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: #406367;
}

.field-set-box-title-input:focus {
    border: none;
    border-bottom: 2px solid #002f34;
}

.field-set-box small {
    color: #7f9799;
    font-size: 14px;
}

.Category {
    cursor: pointer;
    color: #acacac;
    display: block;
    background: #f2f4f5;
    padding: 14px 54px 14px 16px;
    height: 48px;
    width: 45%;
    white-space: nowrap;
    position: relative;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 4px;
}

.Category:before,
.Category:after {
    content: '';
    width: 15px;
    height: 1px;
    position: absolute;
    background: #1b1e21;
    top: 50%;
    right: 13px;
}

.Category:before {
    transform: rotate(-40deg);

}

.field-set-box textarea {

    background: #f2f4f5;

    border: none;
    display: block;
    padding: 14px 16px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: #406367;
    height: 218px;
    width: 61%;
    resize: none;
    overflow-y: hidden;

}

.Category:after {
    transform: rotate(40deg);
    right: 24px;
}

.field-set-box-note {
    font-size: 14px;
    line-height: 1.29;
    margin-top: 10px;
    margin-bottom: 28px;
    color: #406367;
}

.add-post-user-data {
    width: 33%;
    background: #f2f4f5;
    border: none;
    display: block;
    padding: 14px 16px;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: #406367;

}

.field-set-box-submit {
    display: flex;
    justify-content: flex-end;

}

.field-set-box-submit a {
    display: inline-flex;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.25;
    position: relative;

}

.field-set-box-submit a:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    top: 100%;
    background: #002f34;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    margin-top: 2px;
}

.field-set-box-submit input[type=button] {
    display: block;
    min-width: 17.6%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-sizing: content-box;
    background-color: #002f34;
    border: none;
    margin-left: 20px;
    color: #fff;
    padding: 0;
    height: 48px;
    line-height: 48px !important;
    cursor: pointer;
}

.settings-box {
    width: 80%;
    margin: auto;
}

.accordion-item {
    background: #fff;
    border: none;
    border-radius: 4px;
}

.accordion-button {
    background: #fff;
    border: none;
    margin: 20px 0;
}

.accordion-button:not(.collapsed) {
    color: #002f34;
    background-color: #fff;
}

.accordion-collapse {
    border: none;
}

.update-user {
    width: 40%;

}

.delete-user {
    width: 40%;
    margin: auto;
}

.Loading {
    padding: 10% 50%;
}

.add-main-image-way {
    list-style: none;
    display: inline-flex;
    width: 69%;
    margin: auto;
}

.add-image {

    background: #f8fafc;
    position: relative;
    width: 15.45%;
    color: #406367;
    min-width: 159px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    min-height: 120px;
    max-width: 159px;
    display: flex;
    margin: 5px;

}

.add-image:hover {
    text-decoration: none;
    color: #406367;

}

.main-image {
    background: #cbf7ee;
    text-align: center;
    padding: 3% 1%;
}
.add-image svg {
    width: 32px;
    height: 32px;
    color: #406367;
    text-align: center;
    position: absolute;
    top:40%;
    left: 40%;
}

.Alternative {
    display: grid;
}
.modal1{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.4) ;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    transform: scale(0);
}
.modal1.active{
    transform: scale(1);
}
.modal_content{
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;

}
